/* 
// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { ... }

// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width
*/

/* GLOBAL-SETTINGS */

/* GLOBAL-SETTINGS */

/* GLOBAL-SETTINGS */

* {
    padding: 0px;
    margin: 0px;
    max-width: 100%;
    cursor: default;
}

body {
    overflow-x: clip
}

:root, * {
    /* --primary-color: #080199; */
    --primary-color: #e20000;
    --secondary-color: #FFE600;
    --dark-gray-color: #393939;
    --medium-gray-color: #9F9F9F;
    --low-gray-color: #FBFBFB;
    --black-color: #000000;
    --white-color: #ffffff;
    --skyblue-color: #fbe7e7;
    --outline: 200px;
    --font-size-h3: 33px;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 200%;
}

:lang(en), .english {
    font-family: 'Noto Sans JP', sans-serif;
}

:lang(jp), .japanese {
    font-family: 'Noto Sans JP', sans-serif;
}

.ww {
    display: inline-block;
    line-height: 100%
}

/* IMAGES */

/* IMAGES */

/* IMAGES */

img {
    object-fit: cover;
}

.product-photo {
    object-fit: cover;
    width: 40vw;
}

.contena>img {
    object-fit: cover;
    width: 40vw;
    height: 15vw;
}

/* SPACING */

/* SPACING */

/* SPACING */

.push-down {
    margin-top: 50px;
}

/* POINTER EVENTS */

/* POINTER EVENTS */

/* POINTER EVENTS */

.logo, .logo>p {
    cursor: pointer;
}

.logo>svg {
    fill: var(--primary-color);
    cursor: pointer;
}

button, a, button>span, a>span {
    cursor: pointer;
}

.col-3>ul>li>a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.showcase-image {
    max-width: 40vw;
    object-fit: cover;
}

.logo {
    margin-bottom: 30px;
}

@media screen and (max-width: 1200px) {
    span.label {
        display: none;
    }
    :root, * {
        --outline: 50px;
    }
}

@media screen and (min-width: 601) {
    .blog-desription {
        margin-left: 50px
    }
}

@media screen and (min-width: 601px) {.pusher{display:none}.btn-sidemenu {
    display: none
}
}
@media screen and (max-width: 600px) {
    span.label {
        display: none;
    }
    :root, * {
        --outline: 25px;
    }


    .nav>.nav-item{display:none}
}

/* CAROUSEL */
/* CAROUSEL */

.lead-caption {
    font-size: 105px;
}

@media screen and (max-width: 900px) {
    .lead-caption {
        font-size: 48px;
    }

    .carousel-item {height:60vh;}

    .small-hidden {
        display: none;
    }
    .blog-desription {
        margin-left: 0px
    }
    .showcase-image {
        max-width: 90vw;
        min-height: 20vw;
        object-fit: cover;
    }
    .small-push-down {
        margin-top: 32px;
    }
    .footer-visibility {
        display: none;
    }
}

.main {
    display: flex;
    justify-content: space-between;
}

.logo {
    color: var(--primary-color);
    font-size: 50px;
}

p {
    line-height: 200%;
}

a {
    color: var(--black-color)
}

.reset-box {
    margin: 0px;
    padding: 0px;
}

nav {
    padding-left: var(--outline);
    padding-right: var(--outline);
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 0px;
}

.information {
    text-align: center;
    background-color: var(--primary-color);
    color: var(--white-color);
}

.jumbotron {
    color: var(--white-color);
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(content/media/images/hero1.png);
    min-height: 90vh;
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-left: var(--outline);
    padding-right: var(--outline);
}

#company .jumbotron {
    color: var(--black-color);
    background: url(content/media/images/hero2bg.jpg);
    min-height: 10vh;
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 100px;
    padding-top: 100px;
}

#offer {
    background-color: var(--skyblue-color);
}

#company .jumbotron>ul>li>h3>a {
    color: pink;
}

#company .jumbotron>ul>li>h3>a {
    color: black;
}

#company .jumbotron>a, #company .jumbotron>h3 {
    color: var(--black-color);
}

#recruit .jumbotron1, #recruit .jumbotron2 {
    color: var(--white-color);
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-left: 10px;
    padding-right: 0px;
    padding-bottom: 100px;
    padding-top: 100px;
}

#recruit .jumbotron1 {
    background: linear-gradient(#1200b6cc, #1200b6cc), url(content/media/0099\ 1.png);
}

#recruit .jumbotron2 {
    background: linear-gradient(#1200b6cc, #1200b6cc), url(content/media/0205\ 1.png);
}

#company>a {
    color: white;
}

.genri {
    background-color: var(--low-gray-color);
}

section h1 {
    padding-bottom: 50px;
}

.news-item {
    margin-bottom: 50px;
}

.sdgs-icon {
    margin-bottom: 50px;
}

#services h1 {
    color: var(--primary-color);
}

.nav-header {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
}

/* SECTIONS */

/* SECTIONS */

/* SECTIONS */

.cards, #services, #sdgs, #recruit, #contact, footer, #company .jumbotron, #blog, #news, #genri, .block, #news-block, #offer, #opinions, #other, #end {
    padding-left: var(--outline);
    padding-right: var(--outline);
    padding-top: 100px;
    padding-bottom: 100px;
}

#end {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: var(--skyblue-color);
    text-align: left;
}

footer {
    background-color: var(--low-gray-color);
}

.end {
    background-color: var(--medium-gray-color);
}

.graybg {
    background-color: #f2f2f2;
}

.card h5 {
    font-size: var(--font-size-h3);
    border-color: white;
    padding-bottom: 20px;
}

.card, .card-body {
    border-color: white;
}

.icon {
    padding-top: 25px;
    padding-bottom: 25px;
}

.btn-primary {
    color: var(--black-color);
    background-color: var(--white-color);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    border-color: white;
}

nav .btn-primary, nav .btn-secondary {
    margin-left: 14px;
}

.btn-secondary {
    color: var(--black-color);
    background-color: var(--secondary-color);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    border-color: var(--secondary-color);
}

.pull-right {
    @extend .float-right;
}

.dropdown-menu {
    min-width: 250px !important;
    border-width: 0px;
    border-radius: 0px;
}

nav {
    padding-top: 33px;
    padding-bottom: 33px;
}

h5 {
    line-height: 200%;
}

.white>ul>li>h3>a {
    color: black;
}

.white>ul {
    padding: 0px;
}

/* CAROUSEL */

/* CAROUSEL */

/* CAROUSEL */

.carousel-caption {
    top: 23%;
    z-index: 99;
}

.carousel-item {
    position: relative;
}

.carousel-item img {
    z-index: 2;
}

.background-overlay {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}


.carousel-item>img {
    width: 100%;
    height: 800px;
    object-fit: cover;
}


.carousel-control-next, .carousel-control-prev {
    z-index: 4;
}

@media(max-width:1180px) {
    .carousel-caption h5 {
        font-size: 2.5rem !important;
        margin-bottom: 15px !important;
    }
    .carousel-caption p {
        font-size: 1.5rem !important;
        margin-bottom: 20px !important;
    }
    .carousel-caption {
        top: 25%;
    }

}

@media(max-width:980px) {
    .carousel-caption {
        padding-top: auto;
        padding-bottom: auto;
    }
    .carousel-caption h5 {
        font-size: 1.5rem !important;
    }
    .carousel-caption p {
        font-size: 1rem !important;
    }
    .carousel-caption .btn {
        display: none;
    }
}


.navbar-light .navbar-nav .nav-link {
    color: #000
}


.work-item {
    margin-bottom: 50px;
    padding-right: 50px
}

.lead {
    font-size: 33px;
}

/* PLATING */

/* PLATING */

/* PLATING */

.h-plating:after {
    content: "";
    display: block;
    width: 60px;
    border-bottom: 4px solid var(--primary-color);
    margin-right: auto;
    margin-top: 5px;
}

/* ABOUT */

/* ABOUT */

/* ABOUT */

th {
    width: 25%;
    text-align: left;
}

td, th {
    vertical-align: top !important;
}

tbody>tr>td, tbody>tr>th, tfoot>tr>td, tfoot>tr>th, thead>tr>td, thead>tr>th {
    vertical-align: top;
}

/* FOOTER */

/* FOOTER */

/* FOOTER */

footer>a {
    text-decoration: none;
}

.badges {
    max-width: 100px;
}

/*
FAQ
FAQ
FAQ

p.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 1s;
    margin-bottom: 10px;
}

p.accordion.active, p.accordion:hover {
    background-color: #ddd;
}

p.accordion:after {
    content: '\2795';
    color: #777;
    float: right;
    margin-left: 5px;
}

p.accordion.active:after {
    content: "\2796";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 1s ease-in-out;
    opacity: 0;
    margin-bottom: 10px;
}

div.panel.show {
    opacity: 1;
    max-height: 500px;
    /* Whatever you like, as long as its more than the height of the content (on all screen sizes) 
} */